/* @theme midnight */
/* Variables */
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css';
/* Formatting defaults */
section {
  background-color: #D7E7F7;
  font-size: 22px;
  font-family: Rajdhani, Callibri, Arial;
  padding: 10px; }

h1 {
  color: #00296E;
  font-size: 60px; }

h2 {
  color: #0584FF;
  font-size: 48px; }

h3 {
  color: #FAB709;
  font-size: 32px; }

footer {
  margin-top: 88%;
  margin-left: 10px; }

section.title-slide {
  background-color: #00296E; }

section.title-slide h1 {
  color: #D7E7F7; }
